
    {% extends "base-document.twig" %}
    {% block content %}

        {{ dump(data_room_holiday) }}
        {{ dump('* * * * * * * * * *') }}
        {{ dump(data_holiday) }}

        <div class="content" data-holiday-id="">
            <div class="container-fluid">
                <div class="row">
                    <div class="offset-md-2 col-md-8">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <h5 class="card-title">Criar Feriado</h5>
                                    </div>
                                    <div class="col-4 text-right">
                                        <a href="{{general.full_web_url}}feriados/"><button type="button" class="btn btn-info">Voltar</button></a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">

                                {# Nome #}
                                <div class="form-row mt-3">
                                    <div class="offset-md-2 col-md-8">
                                        <div class="form-group bmd-form-group">
                                            <label>Nome</label>
                                            <input type="text" class="form-control js-holiday-name" value="{{ data_holiday.nome }}">
                                        </div>
                                    </div>
                                </div>

                                {# Datas #}
                                <div class="form-row mt-4">
                                    <div class="form-group col-md-6 mt-3">
                                        <label>Data Inicial</label>
                                        <input type="date" class="form-control mt-2 js-holiday-initial-date" value="{{ data_holiday.data_inicial }}">
                                    </div>

                                    <div class="form-group col-md-6 mt-3">
                                        <label>Data Final</label>
                                        <input type="date" class="form-control mt-2 js-holiday-final-date" value="{{ data_holiday.data_final }}">
                                    </div>
                                </div>

                                {# Quartos-Preço #}
                                <div class="form-row mt-4 js-div-room-images">
                                    {% for room_holiday in data_room_holiday %}
                                        <div class="col-md-4 js-parent-room-images">
                                            <div class="card" style="width: 20rem;" data-id-room="{{ room_holiday.id_quarto }}">
                                                <img src="{{ general.full_images_url }}/galery/{{ room_holiday.image }}" class="card-img-top" rel="nofollow" alt="Quarto" style="width: 100%;height: 300px;object-fit: cover">
                                                <div class="card-body">
                                                    <div class="form-group col-md-6">
                                                        <label class="card-text" style="top: 5px">($) Preço - ({{ room_holiday.nome_quarto }})</label><br style="margin-bottom: 3px">
                                                        <input type="text" class="form-control mt-2 js-holiday-room-price" value="{{ room_holiday.preco }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                            {# Botao Salvar #}
                            <div class="card-footer">
                                <div class="col-md-12 text-right">
                                    <button type="submit" class="btn btn-primary pull-right js-holiday-btn-save" data-type="ADD">Salvar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block footer_scripts %}
        <script type="text/javascript" src="{{ general.full_assets_url }}js/admin/holiday.js"></script>
    {% endblock %}