
    {% extends "base-document.twig" %}
    {% block content %}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <h4 class="card-title ">Lista de Promoções</h4>
                                    </div>
                                    <div class="col-4 text-right">
                                        <a href="{{general.full_web_url}}promocoes/create/"><button type="button" class="btn btn-info">Criar</button></a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-shopping table-hover">
                                        <thead class="text-primary">
                                            <tr>
                                                <th>Quarto</th>
                                                <th>Nome</th>
                                                <th>Data Inicial</th>
                                                <th>Data Final</th>
                                                <th>Preço</th>
                                                <th>Estado</th>
                                                <th>Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for promotion in data_promotion %}
                                                <tr class="js-promotions-tr">
                                                    <td>{{ promotion.nome_quarto }}</td>
                                                    <td>{{ promotion.nome }}</td>
                                                    <td>{{ promotion.data_inicial }}</td>
                                                    <td>{{ promotion.data_final }}</td>
                                                    <td class="text-left td-number"><small>R$</small> {{ promotion.preco }}</td>
                                                    <td>
                                                        {% if (promotion.estado == 'ativo') %}
                                                            {% set estado %}
                                                                <span class="badge badge-success">Ativo</span>
                                                            {% endset %}
                                                        {% elseif (promotion.estado == 'finalizado') %}
                                                            {% set estado %}
                                                                <span class="badge badge-black">Finalizado</span>
                                                            {% endset %}
                                                        {% else %}
                                                            {% set estado %}
                                                                <span class="badge badge-warning">Próximo</span>
                                                            {% endset %}
                                                        {% endif %}

                                                        {# Render #}
                                                        {{ estado }}
                                                    </td>
                                                    <td class="td-actions text-right">

                                                        {# Editar #}
                                                        <a href="{{ general.full_web_url }}promocoes/edit/{{ promotion.id_promocao }}/">
                                                            <button type="button" rel="tooltip" title="" class="btn btn-primary btn-link btn-sm" data-original-title="Editar">
                                                                <i class="material-icons">edit</i>
                                                            </button>
                                                        </a>

                                                        {# Deletar #}
                                                        <a href="#">
                                                            <button type="button" rel="tooltip" title="" class="btn btn-danger btn-link btn-sm js-promotion-btn-delete" data-original-title="Remover" data-id="{{ promotion.id_promocao }}">
                                                                <i class="material-icons">delete</i>
                                                                <div class="ripple-container"></div>
                                                            </button>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block footer_scripts %}
        <script type="text/javascript" src="{{ general.full_assets_url }}js/admin/promotions.js"></script>
    {% endblock %}