
    {% block sliderbar %}

        <div class="sidebar" data-color="purple" data-background-color="white" data-image="{{ general.full_images_url }}HotelLitoral/reception.jpg">

            {# Logo #}
            <div class="logo">
                <a href="{{general.full_web_url}}" class="simple-text logo-normal">
                    Hotel Litoral
                </a>
            </div>

            {# ** Opciones del menú ** #}
            <div class="sidebar-wrapper">

                {# Menu #}
                <ul class="nav">

                    {# Configurations #}
                    <li class="nav-item {{ (general.class_url == 'configuracoes') ? 'active' : '' }}">
                        <a class="nav-link" href="{{general.full_web_url}}configuracoes/">
                            <i class="material-icons">settings</i>
                            <p>Configurações</p>
                        </a>
                    </li>

                    {# Contato Hotel #}
                    <li class="nav-item {{ (general.class_url == 'contato') ? 'active' : '' }}">
                        <a class="nav-link" href="{{general.full_web_url}}contato/">
                            <i class="material-icons">contacts</i>
                            <p>Contato</p>
                        </a>
                    </li>

                    {# Dashboard #}
                    <li class="nav-item {{ (general.class_url == 'dashboard') ? 'active' : '' }}">
                        <a class="nav-link" href="{{general.full_web_url}}dashboard/">
                            <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                        </a>
                    </li>

                    {# Holidays #}
                    <li class="nav-item {{ (general.class_url == 'feriados') ? 'active' : '' }}">
                        <a class="nav-link" href="{{general.full_web_url}}feriados/">
                            <i class="material-icons">today</i>
                            <p>Feriados</p>
                        </a>
                    </li>

                    {# Galery #}
                    <li class="nav-item {{ (general.class_url == 'galeria') ? 'active' : '' }}">
                        <a class="nav-link" href="{{general.full_web_url}}galeria/">
                            <i class="material-icons">collections</i>
                            <p>Galeria</p>
                        </a>
                    </li>

                    {# Offerings #}
                    <li class="nav-item {{ (general.class_url == 'oferecimentos') ? 'active' : '' }}">
                        <a class="nav-link" href="{{general.full_web_url}}oferecimentos/">
                            <i class="material-icons">room_service</i>
                            <p>Oferecimentos</p>
                        </a>
                    </li>

                    {# Promotions #}
                    <li class="nav-item {{ (general.class_url == 'promocoes') ? 'active' : '' }}">
                        <a class="nav-link" href="{{general.full_web_url}}promocoes/">
                            <i class="material-icons">price_check</i>
                            <p>Promoções</p>
                        </a>
                    </li>

                    {# Rooms #}
                    <li class="nav-item {{ (general.class_url == 'quartos') ? 'active' : '' }}">
                        <a class="nav-link" href="{{general.full_web_url}}quartos/">
                            <i class="material-icons">meeting_room</i>
                            <p>Quartos</p>
                        </a>
                    </li>

                    {# Bookings #}
                    <li class="nav-item {{ (general.class_url == 'reservas') ? 'active' : '' }}">
                        <a class="nav-link" href="{{general.full_web_url}}reservas/">
                            <i class="material-icons">king_bed</i>
                            <p>Reservas</p>
                        </a>
                    </li>

                    {# Cerrar Sesion #}
                    <hr>
                    <li class="nav-item">
                        <a class="nav-link" href="{{general.full_web_url}}salir/">
                            <i class="material-icons">power_settings_new</i>
                            <p>Sair</p>
                        </a>
                    </li>
                </ul>
            </div>

            {# Imagen #}
            <div class="sidebar-background" style="background-image: url({{ general.full_images_url }}HotelLitoral/reception.jpg) ">
            </div>
        </div>

    {% endblock %}