

    {% extends "base-document.twig" %}

    {% block content %}

        <div class="super_container">

            {# Header - Nav (Menú) #}
            {% include 'nav-menu.twig' %}

            {# Home #}
            <div class="home">

                {# Imagem de fundo #}
                <div class="background_image" style="background-image:url({{ general.full_images_url }}HotelLitoral/reception.jpg)"></div>

                {# Section datas #}
                {% include 'dates-selection.twig' %}
            </div>

            {# About #}
            <div class="about">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="about_title"><h2>Hotel Litoral / 14 anos de excelencia</h2></div>
                        </div>
                    </div>
                    <div class="row about_row">

                        {# About Content #}
                        <div class="col-lg-6">
                            <div class="about_content">
                                <div class="about_text">
                                    <p>A 100 m da ORLA, em sua parte central, proxime da Passarela do Caranguejo e das Feiras de Artesanatos; o Hotel Litoral oferece aos seus hóspedes o conforto e tranquilidade para passar as ferias do seus sonhos.</p>
                                </div>
                                {#<div class="about_sig"><img src="{{ general.full_images_url }}sig.png" alt=""></div>#}
                            </div>
                        </div>

                        {# About Images #}
                        <div class="col-lg-6">
                            <div class="about_images d-flex flex-row align-items-start justify-content-between flex-wrap">
                                <img src="{{ general.full_images_url }}HotelLitoral/mainFacade.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {# Split Section Right #}

            <div class="split_section_right container_custom">
                <div class="container">
                    <div class="row row-xl-eq-height">

                        <div class="col-xl-6 order-xl-1 order-2">
                            <div class="split_section_image">
                                <div class="background_image" style="background-image:url({{ general.full_images_url }}HotelLitoral/landscapes_1.jpg)"></div>
                            </div>
                        </div>

                        <div class="col-xl-6 order-xl-2 order-1">
                            <div class="split_section_right_content">
                                <div class="split_section_title"><h1>Acomodacion</h1></div>
                                <div class="split_section_text">
                                    <p>Ofrecemos habitaciones totalmente comomodas, puede usted tener la plena tranquilidad de hospedarse en un hotel ubicado en una excelente posicion y muy cerca de la playa, ademas de contar con la ventaja de estar en la cercania a la Osrla, pues sus planes de fin de semana seran realmente variados.</p>
                                </div>

                                {# Milestones #}
                                <div class="milestones_container d-flex flex-row align-items-start justify-content-start flex-wrap">

                                    {# Milestone #}
                                    <div class="milestone d-flex flex-row align-items-start justify-content-start">
                                        <div class="milestone_content">
                                            <div class="milestone_counter" data-end-value="45">0</div>
                                            <div class="milestone_title">Cuarto disponibles</div>
                                        </div>
                                    </div>

                                    {# Milestone #}
                                    <div class="milestone d-flex flex-row align-items-start justify-content-start">
                                        <div class="milestone_content">
                                            <div class="milestone_counter" data-end-value="21" data-sign-after="K">0</div>
                                            <div class="milestone_title">Turistas este año</div>
                                        </div>
                                    </div>

                                    {# Milestone #}
                                    <div class="milestone d-flex flex-row align-items-start justify-content-start">
                                        <div class="milestone_content">
                                            <div class="milestone_counter" data-end-value="2">0</div>
                                            <div class="milestone_title">Estacionamientos</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            {# Split Section Left #}

            <div class="split_section_left container_custom">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="split_section_left_content">
                                <div class="split_section_title"><h1>Lugar ideal</h1></div>
                                <div class="split_section_text">
                                    <p>Disfruta de la comodida de un hotel acogedor y a la mano de cualquier actividad nocturna o matutina, lo que prefieras, pues estamos ubicados en el centro de la Orla de Atalaya, lugar privilegiado para relajarte en la playa a tan solo 5 minutos y, rodeate de los mejores bares de la ciudad para disfrutar de una noche de musica en vivo y excelente ambiente.</p>
                                </div>

                                {# Loaders #}
                                <div class="loaders_container d-flex flex-row align-items-start justify-content-start flex-wrap">

                                    {# Loader #}
                                    <div class="loader_container text-center">
                                        <div class="loader text-center" data-perc="0.9">
                                            <div class="loader_content">
                                                <div class="loader_title">Buen servicio</div>
                                            </div>
                                        </div>
                                    </div>

                                    {# Loader #}
                                    <div class="loader_container text-center">
                                        <div class="loader text-center" data-perc="0.8">
                                            <div class="loader_content">
                                                <div class="loader_title">Turistas</div>
                                            </div>
                                        </div>
                                    </div>

                                    {# Loader #}
                                    <div class="loader_container text-center">
                                        <div class="loader text-center" data-perc="1.0">
                                            <div class="loader_content">
                                                <div class="loader_title">Satisfaccion</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        {# Loaders Image #}
                        <div class="col-xl-6">
                            <div class="split_section_image split_section_left_image">
                                <div class="background_image" style="background-image:url({{ general.full_images_url }}HotelLitoral/landscapes_2.jpg)"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            {# Testimonials #}

            <div class="testimonials">
                <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{{ general.full_images_url }}HotelLitoral/landscapes_3.jpg" data-speed="0.8"></div>
                <div class="testimonials_overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="testimonials_slider_container">

                                {# Testimonials Slider #}
                                <div class="owl-carousel owl-theme test_slider">

                                    {# Slide #}
                                    <div  class="test_slider_item text-center">
                                        <div class="rating rating_5 d-flex flex-row align-items-start justify-content-center"><i></i><i></i><i></i><i></i><i></i></div>
                                        <div class="testimonial_title">Fantástico</div>.
                                        <div class="testimonial_text">
                                            <p>Es limpio y comodo, buena relación precio calidad . Camas y almohadas comodas.</p>
                                        </div>
                                        <div class="testimonial_image"><img src="{{ general.full_images_url }}/avatars/woman.png" alt=""></div>
                                        <div class="testimonial_author"><a href="#">Maria</a>, Chile</div>
                                    </div>

                                    {# Slide #}
                                    <div  class="test_slider_item text-center">
                                        <div class="rating rating_5 d-flex flex-row align-items-start justify-content-center"><i></i><i></i><i></i><i></i><i></i></div>
                                        <div class="testimonial_title">Estadia aconchegante e tranquila.</div>
                                        <div class="testimonial_text">
                                            <p>Local aconchegante, próximo da orla.</p>
                                        </div>
                                        <div class="testimonial_image"><img src="{{ general.full_images_url }}/avatars/man.png" alt=""></div>
                                        <div class="testimonial_author"><a href="#">Audrei</a>, Brasil</div>
                                    </div>

                                    {# Slide #}
                                    <div  class="test_slider_item text-center">
                                        <div class="rating rating_5 d-flex flex-row align-items-start justify-content-center"><i></i><i></i><i></i><i></i><i></i></div>
                                        <div class="testimonial_title">Valeu a pena</div>
                                        <div class="testimonial_text">
                                            <p>O café da manhã é simples, mas saboroso. Funcionárias são super atenciosas. O quarto é arrumado e as roupas de banho trocadas DIARIAMENTE.</p>
                                        </div>
                                        <div class="testimonial_image"><img src="{{ general.full_images_url }}/avatars/man3.png" alt=""></div>
                                        <div class="testimonial_author"><a href="#">Gustavo</a>, Brasil</div>
                                    </div>

                                    <div  class="test_slider_item text-center">
                                        <div class="rating rating_5 d-flex flex-row align-items-start justify-content-center"><i></i><i></i><i></i><i></i><i></i></div>
                                        <div class="testimonial_title">Fantástico</div>
                                        <div class="testimonial_text">
                                            <p>Do atendimento, da localização e do café da manhã</p>
                                        </div>
                                        <div class="testimonial_image"><img src="{{ general.full_images_url }}/avatars/man2.png" alt=""></div>
                                        <div class="testimonial_author"><a href="#">Joao</a>, Brasil</div>
                                    </div>

                                    <div  class="test_slider_item text-center">
                                        <div class="rating rating_5 d-flex flex-row align-items-start justify-content-center"><i></i><i></i><i></i><i></i><i></i></div>
                                        <div class="testimonial_title">Excepcional</div>
                                        <div class="testimonial_text">
                                            <p>Tudooo</p>
                                        </div>
                                        <div class="testimonial_image"><img src="{{ general.full_images_url }}/avatars/woman2.png" alt=""></div>
                                        <div class="testimonial_author"><a href="#">Mascarenhasvo</a>, Brasil</div>
                                    </div>

                                    <div  class="test_slider_item text-center">
                                        <div class="rating rating_5 d-flex flex-row align-items-start justify-content-center"><i></i><i></i><i></i><i></i><i></i></div>
                                        <div class="testimonial_title">Ótima relação custo x benefício em Aracaju</div>
                                        <div class="testimonial_text">
                                             <p> Já fiquei no Hotel Litoral outras vezes. Ótima relação custo x benefício. Hotel receptivo, perto da praia, facilidade de acesso a vários pontos da orla, equipe atenciosa, bom café da manhã, bom quarto.</p>
                                        </div>
                                        <div class="testimonial_image"><img src="{{ general.full_images_url }}/avatars/man.png" alt=""></div>
                                        <div class="testimonial_author"><a href="#">Almerindo</a>, Brasil</div>
                                    </div>

                                    <div  class="test_slider_item text-center">
                                        <div class="rating rating_5 d-flex flex-row align-items-start justify-content-center"><i></i><i></i><i></i><i></i><i></i></div>
                                        <div class="testimonial_title">Muy bien</div>
                                        <div class="testimonial_text">
                                             <p>Da hospitalidade e proatividade em ajudar com meu filho de 4 anos.</p>
                                        </div>
                                        <div class="testimonial_image"><img src="{{ general.full_images_url }}/avatars/man2.png" alt=""></div>
                                        <div class="testimonial_author"><a href="#">Lins</a></div>
                                    </div>

                                    <div  class="test_slider_item text-center">
                                        <div class="rating rating_5 d-flex flex-row align-items-start justify-content-center"><i></i><i></i><i></i><i></i><i></i></div>
                                        <div class="testimonial_title">Funcionários muitos receptivos</div>.
                                        <div class="testimonial_text">
                                             <p>Limpeza, café da manhã, localização, conforto das camas</p>
                                        </div>
                                        <div class="testimonial_image"><img src="{{ general.full_images_url }}/avatars/woman3.png" alt=""></div>
                                        <div class="testimonial_author"><a href="#">Suely</a>, Brasil</div>
                                    </div>

                                    <div  class="test_slider_item text-center">
                                        <div class="rating rating_5 d-flex flex-row align-items-start justify-content-center"><i></i><i></i><i></i><i></i><i></i></div>
                                        <div class="testimonial_title">Bom pra quem vai a trabalho</div>.
                                        <div class="testimonial_text">
                                             <p>Custo/benefício</p>
                                        </div>
                                        <div class="testimonial_image"><img src="{{ general.full_images_url }}/avatars/woman.png" alt=""></div>
                                        <div class="testimonial_author"><a href="#">Walace</a>, Brasil</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {# Footer #}
            {% include 'footer.twig' %}
        </div>

    {% endblock %}

    {% block footer_scripts %}
        {# Aquí van los scripts Js #}
        <script type="text/javascript" src="{{ general.full_assets_url }}template\js\about.js"></script>
    {% endblock %}