
    {% extends "base-document.twig" %}

        {% block content %}

            <div class="super_container">

                {# Header - Nav (Menú) #}
                {% include 'nav-menu.twig' %}

                {# Home #}
                <div class="home">

                    {# Imagem de fundo #}
                    <div class="background_image" style="background-image:url({{general.full_images_url}}HotelLitoral/galery/foto_1.jpg)"></div>

                    {# Section datas #}
                    {% include 'dates-selection.twig' %}
                </div>

                {# Booking #}
                <div class="booking pt-3">
                    <div class="container">
                        <div class="row">
                            <div class="col">

                                <div class="booking_title text-center css-btn-booking-request-discount">
                                    <h1 class="js-booking-price">R$ <span>0,00</span></h1>
                                    <button type="submit" class="booking_button trans_200 js-btn-booking">Solicitar Desconto</button>
                                </div>
                                <div class="booking_text text-center">
                                    <p>Clique no botão <i>"Solicitar desconto"</i> para fazer sua reserva.</p>
                                    <p class="mt-0">Feriados e dias com eventos <b>NÃO</b> concedemos descontos</p>
                                    <hr>
                                </div>

                                {# Booking Slider #}
                                <div class="booking_slider_container">
                                    <div class="owl-carousel owl-theme booking_slider">
                                        {% for rooms in data_rooms %}
                                            <div class="booking_item">
                                                <div class="background_image" style="background-image:url({{general.full_images_url}}galery/{{rooms.image}}"></div>
                                                <div class="booking_overlay trans_200"></div>
                                                <div class="booking_item_content">
                                                    <div class="booking_item_list">
                                                        <ul>
                                                            <li><i class="fa fa-bed"></i> Camas box de casal</li>
                                                            <li><i class="fa fa-tv"></i> TV LED com canais a cabo</li>
                                                            <li><img src="{{ general.full_images_url }}Icons/ar_condicionado_2.svg" style="width: 15px; display: inline">&nbsp; Ar condicionado SPLIT</li>
                                                            <li><img src="{{ general.full_images_url }}Icons/secador_cabelo_2.svg" style="width: 15px; display: inline"> Secador de cabelo</li>
                                                            <li><img src="{{ general.full_images_url }}Icons/minibar_2.svg" style="width: 15px; display: inline">&nbsp; Frigobar</li>
                                                            <li><i class="fa fa-wifi"></i> Wi-Fi</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="booking_price">R$ {{ rooms.preco }}/Noite</div>
                                                <div class="booking_link"><a href="{{ general.full_web_url }}bookings/reserve/{{ rooms.id_quarto }}/">{{rooms.nome}}</a></div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {# Footer #}
                {% include 'footer.twig' %}
            </div>

        {% endblock %}

        {% block footer_scripts %}
            {# Aquí van los scripts Js #}
            <script type="text/javascript" src="{{ general.full_assets_url }}js/user/booking.js"></script>
        {% endblock %}