
    {% extends "base-document.twig" %}

        {% block content %}

            <div class="super_container">
                {# Header - Nav (Menú) #}
                {% include 'nav-menu.twig' %}

                {# Booking #}
                <div class="booking">
                    <div class="container">
                        <div class="row">

                            {# Formulario #}
                            <div class="col col-md-6 mt-3">
                                <div>
                                    <h2>Informações da Reserva</h2>
                                    <h5>Preencha para solicitar sua reserva.</h5>
                                </div>
                                <hr>

                                <div class="contact_form_container">
                                    <form action="##" class="contact_form js-reserve-form">
                                        <div class="row">
                                            {# Nombre #}
                                            <div class="col-md-12 input_container">
                                                <input type="text" class="contact_input js-reserve-name" placeholder="Seu nome*" required="required">
                                            </div>

                                            {# Email #}
                                            <div class="col-md-6 input_container">
                                                <input type="text" class="contact_input js-reserve-email" placeholder="Seu email*" required="required">
                                            </div>

                                            {# Telefone #}
                                            <div class="col-md-6 input_container">
                                                <input type="text" class="contact_input js-input-number js-reserve-phone" placeholder="Seu telefone">
                                            </div>
                                        </div>

                                        <div class="row">
                                            {# Texto #}
                                            <div class="col-md-12 input_container">
                                                <textarea class="contact_input contact_textarea js-reserve-text" placeholder="Sua mensagem*" required="required"></textarea>
                                            </div>
                                        </div>

                                        {# Boton Enviar #}
                                        <button class="contact_button js-reserve-btn-send-email">SOLICITAR RESERVA</button>
                                    </form>
                                </div>
                            </div>

                            {# Resumem Reserva #}
                            <div class="col col-md-6 mt-3">
                                <div>
                                    <h2>Sua Reserva</h2>
                                    <h5>Detalhes da sua reserva.</h5>
                                </div>
                                <hr>

                                <div class="mt-5">
                                    <h4>Datas escolhidas:</h4>
                                    <span class="css-reserve-span-data-summary mt-1">Chegada: <p class="css-reserve-p-data-summary js-reserve-check-in">{{ summary_booking_check_in }}</p></span>
                                    <span class="css-reserve-span-data-summary mt-1">Saída: <p class="css-reserve-p-data-summary js-reserve-check-out">{{ summary_booking_check_out }}</p></span>
                                    <span class="css-reserve-span-data-summary mt-1">Total Días: <p class="css-reserve-p-data-summary js-reserve-diff-days">{{ summary_booking_diff_days }}</p></span>
                                </div>

                                <div class="mt-5">
                                    <h4>Detalhes do quarto:</h4>
                                    <span class="css-reserve-span-data-summary">Tipo de quarto: <p class="css-reserve-p-data-summary js-reserve-type-room" data-id-room="{{ summary_booking_type_room.id_quarto }}">{{ summary_booking_type_room.nome }}</p></span>
                                    <span class="css-reserve-span-data-summary">Quartos: <p class="css-reserve-p-data-summary js-reserve-rooms">{{ summary_booking_room }}</p></span>
                                    <span class="css-reserve-span-data-summary">Adultos: <p class="css-reserve-p-data-summary js-reserve-adults">{{ summary_booking_type_room.adultos }}</p></span>
                                    {# <span class="css-reserve-span-data-summary">Crianças: <p class="css-reserve-p-data-summary js-reserve-children">{{ summary_booking_children }}</p></span> #}
                                </div>

                                <div class="mt-5">
                                    <h2>Total: R$ <span class="js-reserve-price">{{ summary_booking_price|number_format(2, '.', ',') }}</span></h2>
                                    <div style="background-image:url({{ general.full_images_url }}galery/{{ summary_booking_type_room.image }})" class="img-fluid css-reserve-div-img-room"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {# Footer #}
                {% include 'footer.twig' %}
            </div>

        {% endblock %}

        {% block footer_scripts %}
            {# Aquí van los scripts Js #}
            <script type="text/javascript" src="{{ general.full_assets_url }}js/user/booking.js"></script>
        {% endblock %}