
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col offset-xl-1 col-xl-10">
                    <div class="home_content text-center">
                        <div class="home_title">Faça sua reserva</div>
                        <div class="booking_form_container">
                            <form action="{{general.full_web_url}}bookings/" method="post" class="booking_form" id="booking_form">
                                <div class="d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                    <div class="row booking_input_container d-flex flex-row align-items-start justify-content-start flex-wrap">

                                        {# Check-In #}
                                        <div class="col-md-3">
                                            <input type="text" name="reserve_check_in" class="datepicker booking_input booking_input_a booking_in js-reserve-check-in" placeholder="Data de entrada" required="required">
                                        </div>

                                        {# Check-Out #}
                                        <div class="col-md-3">
                                            <input type="text" name="reserve_check_out" class="datepicker booking_input booking_input_a booking_out js-reserve-check-out" placeholder="Data de saída" required="required">
                                        </div>

                                        {# Children #}
                                        <div class="col-md-2">
                                            <input type="text" name="reserve_children" class="booking_input booking_input_b js-reserve-children" value="" placeholder="Crianças" maxlength="1">
                                        </div>

                                        {# Rooms #}
                                        <div class="col-md-2">
                                            <input type="text" name="reserve_room" class="booking_input booking_input_b js-reserve-room" value="" placeholder="Quartos" required="required" maxlength="1">
                                        </div>

                                        {# Type Room #}
                                        <div class="col-md-2">
                                            <select type="text" name="reserve_type_room" class="booking_input booking_input_b css-reserve-select-rooom js-reserve-type_room" required="required" maxlength="1">
                                                {% for room in general.data_rooms_general %}
                                                    <option value="{{ room.id_quarto }}" data-room-price="{{ room.preco }}">{{ room.nome }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        {# Botao #}
                                        <div class="col-md-12 mt-3">
                                            <button type="submit" class="booking_button trans_200 {{ (general.class_param) == 'bookings' ? 'css-element-hide' : '' }} js-btn-reserve">Reserve agora</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>