
    <footer class="footer">
        <div class="footer_content">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="footer_logo_container text-center">
                            <div class="footer_logo">
                                <a href="#"></a>
                                <div class="css-footer-logo">Hotel <span>Litoral</span></div>
                                <div>desde 2005</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row footer_row">

                    {# Address #}
                    <div class="col-md-6 col-lg-3">
                        <div class="footer_title">Nosso endereço</div>
                        <div class="footer_list">
                            <ul>
                                <li>{{general.data_configuration['barrio']}}</li>
                                <li>{{general.data_configuration['estado']}}</li>
                                <li><img src="{{ general.full_images_url }}Icons/brazil.png" class="css-img-icon-svg" alt="pais"> {{general.data_configuration['pais']}}</li>
                            </ul>
                        </div>

                        <div class="footer_title mt-3">Nós não possuímos / aceitamos</div>
                        <div class="footer_list">
                            <ul>
                                {# Fazemos iteracao sob os oferecimentos (Nao Possuimos) #}
                                {% for dont_have_offerings in general.data_offerings.dont_have %}

                                    {% set nome = dont_have_offerings['nome'] %}
                                    {% set icon = dont_have_offerings['icone'] %}

                                    {# Validamos se é um icone o uma imagem #}
                                    {% if (icon|slice(-4)) == '.svg' %}
                                        <li><img src="{{ general.full_images_url }}Icons/{{icon}}" class="css-img-icon-svg" alt=""> {{nome}}</li>
                                    {% else %}
                                        <li><i class="fa {{icon}}"></i> {{nome}}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    {# Reservations #}
                    <div class="col-md-6 col-lg-5">
                        <div class="footer_title">Nós oferecemos</div>
                        <div class="footer_list">
                            <ul>
                                {# Fazemos iteracao sob os oferecimentos (Possuimos) #}
                                {% for have_offerings in general.data_offerings.have %}

                                    {% set nome = have_offerings['nome'] %}
                                    {% set icon = have_offerings['icone'] %}

                                    {# Validamos se é um icone o uma imagem #}
                                    {% if (icon|slice(-4)) == '.svg' %}
                                        <li><img src="{{ general.full_images_url }}Icons/{{icon}}" class="css-img-icon-svg" alt=""> {{nome}}</li>
                                    {% else %}
                                        <li><i class="fa {{icon}}"></i> {{nome}}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    {# Newsletter #}
                    <div class="col-md-6 offset-md-2 col-lg-3 offset-lg-0">
                        <div class="footer_title">Boletim de Notícias</div>
                        <div class="newsletter_container">
                            <form action="#" class="newsletter_form" id="newsletter_form">
                                <input type="email" class="newsletter_input" placeholder="Seu Email" required="required">
                                <button class="newsletter_button">Se inscrever</button>
                            </form>
                        </div>
                        <div class="newsletter_container mt-5">
                            <div class="footer_title"><u>Informação importante:</u></div>
                            <div class="footer_list">
                                <ul>
                                    <li>
                                        <span><p>- Parcelamos em até 3 vezes sem juros.</p></span>
                                    </li>
                                    <li>
                                        <span><p>- Crianças até 7 anos não pagam.</p></span>
                                    </li>
                                    <li>
                                        <span><p>- Os preços podem mudar em feriados e dias com eventos .</p></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    {# Footer images
                    <div class="col-lg-3">
                        <div class="certificates d-flex flex-row align-items-start justify-content-lg-between justify-content-start flex-lg-nowrap flex-wrap">
                            <div class="cert"><img src="{{ general.full_images_url }}cert_1.png" alt=""></div>
                            <div class="cert"><img src="{{ general.full_images_url }}cert_2.png" alt=""></div>
                        </div>
                    </div>#}
                </div>
            </div>
        </div>
        <div class="copyright">
            {# Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. #}
            Direitos Reservados © {{ "now"|date("Y") }} <a href="{{ general.full_web_url }}">Hotel Litoral</a> | Modelo oferecido por: <a href="https://colorlib.com" target="_blank">Colorlib</a>
            {# Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. #}
        </div>
        <div class="css-btn-whatsapp">
            {% set wp_number = general.data_configuration['numero_wp'] %}
            {% set wp_message = "Olá!! Eu gostaria de solicitar uma reserva."|url_encode %}
            <a href="https://api.whatsapp.com/send?phone={{ wp_number }}&text={{ wp_message }}" target="_blank">
                <img src="{{ general.full_images_url }}Icons/btn_whatsapp.png" alt="">
            </a>
        </div>
    </footer>