
    {% extends "base-document.twig" %}
        {% block content %}

            <div class="super_container">

                {# Header - Nav (Menú) #}
                {% include 'nav-menu.twig' %}

                {# Sliders (Start) #}
                <div class="home">
                    <div class="home_slider_container">

                        {# Sliders Photos #}
                        <div class="owl-carousel owl-theme home_slider">

                            {# Slide-1 #}
                            <div class="slide">

                                {# Image #}
                                <div class="background_image" style="background-image:url({{ general.full_images_url }}LH_Fotos/main_facade.jpeg)">
                                </div>

                                {# Content #}
                                <div class="home_container">
                                    <div class="container css-home-slide-container">
                                        <div class="row">
                                            <div class="col">
                                                <div class="home_content text-center">
                                                    <div class="home_title">Tranquilidade</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {# Slide-2 #}
                            <div class="slide">

                                {# Image #}
                                <div class="background_image" style="background-image:url({{ general.full_images_url }}LH_Fotos/room_2.jpeg)">
                                </div>

                                {# Content #}
                                <div class="home_container">
                                    <div class="container css-home-slide-container">
                                        <div class="row">
                                            <div class="col">
                                                <div class="home_content text-center">
                                                    <div class="home_title">Estadia confortável</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {# Slide-3 #}
                            <div class="slide">

                                {# Image #}
                                <div class="background_image" style="background-image:url({{ general.full_images_url }}LH_Fotos/reception.jpeg)">
                                </div>

                                {# Content #}
                                <div class="home_container">
                                    <div class="container css-home-slide-container">
                                        <div class="row">
                                            <div class="col">
                                                <div class="home_content text-center">
                                                    <div class="home_title">Ótimo serviço</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {# Home Slider Dots #}
                        <div class="col-12 css-slider-home">{# home_slider_dots_container #}

                            {#Imputs fields #}
                            <div class="row">

                                {# Dates #}
                                <div class="col-12 offset-sm-1 col-sm-10 offset-md-2 col-md-4 offset-lg-2 col-lg-4 mb-3 mb-sm-3">
                                    <div class="row">

                                        {# Check-in #}
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                            <input type="text" class="datepicker booking_input booking_input_a booking_in" placeholder="Check-in" required="required">
                                        </div>

                                        {# Check-out #}
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                            <input type="text" class="datepicker booking_input booking_input_a booking_out" placeholder="Check-out" required="required">
                                        </div>
                                    </div>
                                </div>

                                {# Childrens, Rooms, Btn-Reservation #}
                                <div class="col-12 offset-sm-1 col-sm-10 col-md-4 col-lg-4 mb-3 mb-sm-3">
                                    <div class="row">

                                        {# Childrens #}
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                                            <input type="number" class="booking_input booking_input_b" placeholder="Crianças" required="required">
                                        </div>

                                        {# Rooms #}
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                                            <input type="number" class="booking_input booking_input_b" placeholder="Quartos" required="required">
                                        </div>

                                        {# Button (Reservation) #}
                                        <div class="d-none d-sm-none d-md-none d-lg-block col-lg-4">
                                            <button class="booking_button trans_200 js-btn-reservation">Solicite sua reserva</button>
                                        </div>
                                    </div>
                                </div>

                                {# Button Reservation (< lg) #}
                                <div class="d-block col-12 d-sm-block col-sm-12 d-md-block col-md-12 d-lg-none text-center">
                                    <div class="row mt-md-3">

                                        {# Button (Reservation) #}
                                        <div class="col-sm-12 col-md-12">
                                            <button class="booking_button trans_200 js-btn-reservation">Solicite sua reserva</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {# Number pagination #}
                        <div class="home_slider_dots_container">
                            <div class="home_slider_dots">
                                <ul id="home_slider_custom_dots" class="home_slider_custom_dots d-flex flex-row align-items-start justify-content-start">
                                    <li class="home_slider_custom_dot active">1 -</li>
                                    <li class="home_slider_custom_dot">2 -</li>
                                    <li class="home_slider_custom_dot">3</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                {# Features #}
                <div class="features">
                    <div class="container">
                        <div class="row">

                            {# Espaço, conforto e tranquilidade #}
                            <div class="col-lg-4 icon_box_col">
                                <div class="icon_box d-flex flex-column align-items-center justify-content-start text-center">
                                    <div class="icon_box_icon"><img src="{{ general.full_images_url }}Icons/icon_1.svg" class="svg" alt="https://www.flaticon.com/authors/monkik"></div>
                                    <div class="icon_box_title"><h2>Espaço, conforto e tranquilidade</h2></div>
                                    <div class="icon_box_text">
                                        <p>Espaço, conforto e tranquilidade que oferecemos aos nossos clientes, você pode ter certeza de que no Hotel Litoral você aproveitará ao máximo sua estadia em Aracaju.</p>
                                    </div>
                                </div>
                            </div>

                            {# Acomodação #}
                            <div class="col-lg-4 icon_box_col">
                                <div class="icon_box d-flex flex-column align-items-center justify-content-start text-center">
                                    <div class="icon_box_icon"><img src="{{ general.full_images_url }}Icons/icon_4.svg" class="svg" alt="https://www.flaticon.com/authors/monkik"></div>
                                    <div class="icon_box_title"><h2>Acomodação</h2></div>
                                    <div class="icon_box_text">
                                        <p>Camas confortáveis, TV, ar condicionado split, secador de cabelo, frigobar e WIFI estão à sua disposição.</p>
                                    </div>
                                </div>
                            </div>

                            {# Localização #}
                            <div class="col-lg-4 icon_box_col">
                                <div class="icon_box d-flex flex-column align-items-center justify-content-start text-center">
                                    <div class="icon_box_icon"><img src="{{ general.full_images_url }}Icons/icon_3.svg" class="svg" alt="https://www.flaticon.com/authors/monkik"></div>
                                    <div class="icon_box_title"><h2>Localização</h2></div>
                                    <div class="icon_box_text">
                                        <p>O Hotel Litoral fica muito perto da orla de Aracaju. Você pode chegar à praia em apenas 5 minutos a pé. Além disso, você pode aproveitar seu fim de semana curtindo os shows de música ao vivo encontrados ao longo da costa.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {# Gallery #}
                <div class="gallery">
                    <div class="gallery_slider_container">
                        <div class="owl-carousel owl-theme gallery_slider">

                            {# Foto #}
                            <div class="gallery_item">
                                <div class="background_image" style="background-image:url({{ general.full_images_url }}LH_Fotos/aisle.jpeg)"></div>
                                <a class="colorbox" href="{{ general.full_images_url }}LH_Fotos/aisle.jpeg"></a>
                            </div>

                            {# Foto #}
                            <div class="gallery_item">
                                <div class="background_image" style="background-image:url({{ general.full_images_url }}LH_Fotos/balcony.jpeg)"></div>
                                <a class="colorbox" href="{{ general.full_images_url }}LH_Fotos/balcony.jpeg"></a>
                            </div>

                            {# Foto #}
                            <div class="gallery_item">
                                <div class="background_image" style="background-image:url({{ general.full_images_url }}LH_Fotos/bathroom.jpeg)"></div>
                                <a class="colorbox" href="{{ general.full_images_url }}LH_Fotos/bathroom.jpeg"></a>
                            </div>

                            {# Foto #}
                            <div class="gallery_item">
                                <div class="background_image" style="background-image:url({{ general.full_images_url }}LH_Fotos/garage.jpeg)"></div>
                                <a class="colorbox" href="{{ general.full_images_url }}LH_Fotos/garage.jpeg"></a>
                            </div>

                            {# Foto #}
                            <div class="gallery_item">
                                <div class="background_image" style="background-image:url({{ general.full_images_url }}LH_Fotos/garden.jpeg)"></div>
                                <a class="colorbox" href="{{ general.full_images_url }}LH_Fotos/garden.jpeg"></a>
                            </div>

                            {# Foto #}
                            <div class="gallery_item">
                                <div class="background_image" style="background-image:url({{ general.full_images_url }}LH_Fotos/main_facade.jpeg)"></div>
                                <a class="colorbox" href="{{ general.full_images_url }}LH_Fotos/main_facade.jpeg"></a>
                            </div>

                            {# Foto #}
                            <div class="gallery_item">
                                <div class="background_image" style="background-image:url({{ general.full_images_url }}LH_Fotos/reception.jpeg)"></div>
                                <a class="colorbox" href="{{ general.full_images_url }}LH_Fotos/reception.jpeg"></a>
                            </div>

                            {# Foto #}
                            <div class="gallery_item">
                                <div class="background_image" style="background-image:url({{ general.full_images_url }}LH_Fotos/reception_2.jpeg)"></div>
                                <a class="colorbox" href="{{ general.full_images_url }}LH_Fotos/reception_2.jpeg"></a>
                            </div>

                            {# Foto #}
                            <div class="gallery_item">
                                <div class="background_image" style="background-image:url({{ general.full_images_url }}LH_Fotos/reception_3.jpeg)"></div>
                                <a class="colorbox" href="{{ general.full_images_url }}LH_Fotos/reception_3.jpeg"></a>
                            </div>

                            {# Foto #}
                            <div class="gallery_item">
                                <div class="background_image" style="background-image:url({{ general.full_images_url }}LH_Fotos/room_1.jpeg)"></div>
                                <a class="colorbox" href="{{ general.full_images_url }}LH_Fotos/room_1.jpeg"></a>
                            </div>

                            {# Foto #}
                            <div class="gallery_item">
                                <div class="background_image" style="background-image:url({{ general.full_images_url }}LH_Fotos/room_2.jpeg)"></div>
                                <a class="colorbox" href="{{ general.full_images_url }}LH_Fotos/room_2.jpeg"></a>
                            </div>

                            {# Foto #}
                            <div class="gallery_item">
                                <div class="background_image" style="background-image:url({{ general.full_images_url }}LH_Fotos/room_3.jpeg)"></div>
                                <a class="colorbox" href="{{ general.full_images_url }}LH_Fotos/room_3.jpeg"></a>
                            </div>

                            {# Foto #}
                            <div class="gallery_item">
                                <div class="background_image" style="background-image:url({{ general.full_images_url }}LH_Fotos/room_4.jpeg)"></div>
                                <a class="colorbox" href="{{ general.full_images_url }}LH_Fotos/room_4.jpeg"></a>
                            </div>

                            {# Foto #}
                            <div class="gallery_item">
                                <div class="background_image" style="background-image:url({{ general.full_images_url }}LH_Fotos/room_5.jpeg)"></div>
                                <a class="colorbox" href="{{ general.full_images_url }}LH_Fotos/room_5.jpeg"></a>
                            </div>
                        </div>
                    </div>
                </div>

                {# About #}
                <div class="about">
                    <div class="container">
                        <div class="row">
                            {# About Content #}
                            <div class="col-lg-6">
                                <div class="about_content">
                                    <div class="about_title">
                                        <h2>Hotel Litoral / 14 anos de excelencia</h2>
                                    </div>
                                    <div class="about_text">
                                        <p>Llevamos 14 años ofreciendo el mejor servicio posible a turistas tanto brasileros como extranjeros, ubicado a tan solo 100mts de la playa, con una excelente calidad humana y unas instalaciones sencillas, pero realmente cómodas; nos preocupamos porque usted se sienta a gusto en nuestro hotel, ofrecemos un excelente desayuno en donde puede usted comer a gusto y empezar su día con la mejor actitud.</p>
                                    </div>
                                </div>
                            </div>

                            {# About Images #}
                            <div class="col-lg-6">
                                <div class="about_images d-flex flex-row align-items-center justify-content-between flex-wrap">
                                    <img src="{{ general.full_images_url }}LH_Fotos/main_facade.jpeg" alt="Facade Hotel">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {# Testimonials #}
                <div class="testimonials">
                    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{{ general.full_images_url }}HotelLitoral/mainFacade.jpg" data-speed="0.8"></div>
                    <div class="testimonials_overlay"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="testimonials_slider_container">

                                    {# Testimonials Slider #}
                                    <div class="owl-carousel owl-theme test_slider" style="display: flex;">

                                        {% for opinions in data_opinions %}

                                            {# Slide #}
                                            <div  class="test_slider_item text-center">

                                                {# Calificaciones #}
                                                <div class="rating rating_5 d-flex flex-row align-items-start justify-content-center">
                                                    <i></i>
                                                    <i></i>
                                                    <i></i>
                                                    <i></i>
                                                    <i></i>
                                                </div>

                                                {# Título Opinião #}
                                                <div class="testimonial_title">
                                                    <a href="#">Estadia perfecta</a>
                                                </div>

                                                {# Texto opinião #}
                                                <div class="testimonial_text">
                                                    <p>{{ opinions.op_texto }}</p>
                                                </div>

                                                {# Imagen #}
                                                <div class="testimonial_image">
                                                    <img src="{{ general.full_images_url }}user_1.jpg" alt="">
                                                </div>

                                                {# Nome Cliente #}
                                                <div class="testimonial_author">
                                                    <a href="#">{{ opinions.op_nome }}</a>, Greece
                                                </div>
                                            </div>

                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {# Booking #}
                <div class="booking">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="booking_title text-center"><h2>Reserve um quarto</h2></div>
                                <div class="booking_text text-center">
                                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse nec faucibus velit. Quisque eleifend orci ipsum, a bibendum lacus suscipit sit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse nec faucibus velit. Quisque eleifend orci ipsum, a bibendum lacus suscipit sit.</p>
                                </div>

                                {# Booking Slider #}
                                <div class="booking_slider_container">
                                    <div class="owl-carousel owl-theme booking_slider">

                                        {# Slide #}
                                        <div class="booking_item">
                                            <div class="background_image" style="background-image:url({{ general.full_images_url }}HotelLitoral/triple-room.jpg)"></div>
                                            <div class="booking_overlay trans_200"></div>
                                            <div class="booking_price">R$ 185,00/Noite</div>
                                            <div class="booking_link"><a href="{{ general.full_web_url }}bookings/">Apto. Triplo</a></div>
                                        </div>

                                        {# Slide #}
                                        <div class="booking_item">
                                            <div class="background_image" style="background-image:url({{ general.full_images_url }}HotelLitoral/married-room.jpg)"></div>
                                            <div class="booking_overlay trans_200"></div>
                                            <div class="booking_price">R$ 145,00/Noite</div>
                                            <div class="booking_link"><a href="{{ general.full_web_url }}bookings/">Apto. Duplo/Casal</a></div>
                                        </div>

                                        {# Slide #}
                                        <div class="booking_item">
                                            <div class="background_image" style="background-image:url({{ general.full_images_url }}HotelLitoral/single-room.jpg)"></div>
                                            <div class="booking_overlay trans_200"></div>
                                            <div class="booking_price">R$ 115,00/Noite</div>
                                            <div class="booking_link"><a href="{{ general.full_web_url }}bookings/">Apto. Single</a></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {# Blog #}
                <div class="blog">

                    {# Blog Slider #}
                    <div class="blog_slider_container">
                        <div class="owl-carousel owl-theme blog_slider">

                            {# Slide #}
                            <div class="blog_slide">
                                <div class="background_image" style="background-image:url({{ general.full_images_url }}HotelLitoral/places1.jpg)"></div>
                                <div class="blog_content">
                                    <div class="blog_date"><a href="##">Entretenimento</a></div>
                                    <div class="blog_title"><a href="https://www.atlanticahotels.com.br/blog/mundo-maravilhoso-da-crianca-e-um-paraiso-para-as-kids/" target="_blank">Passe um dia divertido com seus filhos</a></div>
                                </div>
                            </div>

                            {# Slide #}
                            <div class="blog_slide">
                                <div class="background_image" style="background-image:url({{ general.full_images_url }}HotelLitoral/places2.jpg)"></div>
                                <div class="blog_content">
                                    <div class="blog_date"><a href="##">Historia</a></div>
                                    <div class="blog_title"><a href="https://blogmeudestino.com/centro-historico-de-aracaju-se/" target="_blank">Centro histórico da cidade</a></div>
                                </div>
                            </div>

                            {# Slide #}
                            <div class="blog_slide">
                                <div class="background_image" style="background-image:url({{ general.full_images_url }}HotelLitoral/places3.jpg)"></div>
                                <div class="blog_content">
                                    <div class="blog_date"><a href="##">Praias</a></div>
                                    <div class="blog_title"><a href="https://www.transportal.com.br/noticias/rodoviaria-salvador/guarajuba-bahia/" target="_blank">Conhece a praia de Guarajuba</a></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                {# Footer #}
                {% include 'footer.twig' %}
            </div>

        {% endblock %}

        {% block footer_scripts %}
            {# Aquí van los scripts Js #}
            <script type="text/javascript" src="{{ general.full_assets_url }}js/user/home.js"></script>
        {% endblock %}